* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul,ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    display: flex;
    text-decoration: none;
}